/* -------------------------------------------------------

Land Agency //

Land-Agency.com
LandAgency.net

Version: 2

Author: Jonathan Culp

Contact: JonathanCulp.com

----------------------------------------------------- */

* { transition: all 1s; }
* { box-sizing: border-box;}

html{
  font-size: 1rem;
}

/* General */

body{
    background: url(http://i.imgur.com/tVwwGaj.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 10rem;
  text-align: center;
}

p {
  font-family: 'Eczar', sans-serif;
  text-align: center;
}

/* Header */
header{
  order: 1;
  flex: 100%;
  min-height: 250px;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
