html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color:#2B2B2B;
    background-image: linear-gradient(30deg, #6D3D2D 12%, transparent 12.5%, transparent 87%, #6D3D2D 87.5%, #6D3D2D),
    linear-gradient(150deg, #6D3D2D 12%, transparent 12.5%, transparent 87%, #6D3D2D 87.5%, #6D3D2D),
    linear-gradient(30deg, #564E42 12%, transparent 12.5%, transparent 87%, #6D3D2D 87.5%, #564E42),
    linear-gradient(150deg, #564E42 12%, transparent 12.5%, transparent 87%, #564E42 87.5%, #564E42),
    linear-gradient(60deg, #46616E 25%, transparent 25.5%, transparent 75%, #46616E 75%, #46616E),
    linear-gradient(60deg, #46616E 25%, transparent 25.5%, transparent 75%, #46616E 75%, #46616E);
    background-size:80px 140px;
    background-position: 0 0, 0 1, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.wrapper {
  font-family: 'Swis721 Blk BT', 'Poppins', Arial, Helvetica, sans-serif;
  letter-spacing: 0.075em;
  text-align: center;
}

.image-crop {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto -10px;
}

.image-crop img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

h1,
h2,
h2 a {
  color: #bbb;
  font-size: 1rem;
  font-weight: 200;
  border-color: transparent;
  line-height: 1.25;
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

h1 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25rem;
  margin: 20px;
  text-align: center;
}

.links {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.links .link {
  display: block;
  width: 100%;
  height: 25vh;
  margin: 0 auto 10px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #000;
  background-color: #fff;
  text-align: left;
  text-decoration: none;
  padding: 5vh 0 0 40%;
}

#apparel {
    background-image: url(../images/Pimsoll-dress.png);
    background-size: 20vh;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/Pimsoll-pillow.png);
    background-size: 20vh;
    background-repeat: no-repeat;
}

#prints {
    background-image: url(../images/Pimsoll-art.png);
    background-size: 20vh;
    background-repeat: no-repeat;
}

.links .link:hover {
  color: #2B2B2B;
  background-color: rgba(255, 255, 255, .7) 
}